# Feature flags
NEXT_PUBLIC_USE_MOCKS=false
NEXT_PUBLIC_SHOW_NEWSLETTER=false
USE_MOCKS=true
SHOW_NEWSLETTER=true

# Optional content API configuration
NEXT_PUBLIC_WP_API=https://wordpress.contributionmagazine.com/wp-json
NEXT_PUBLIC_WP_API_URL= https://wordpress.contributionmagazine.com/wp-json
NEXT_PUBLIC_WP_API_USERNAME=catalinamakhmudovap@gmail.com
NEXT_PUBLIC_WP_API_PASSWORD=Cocoloco1234@@werfanion123@

# Optional Stripe Payment Link used by the magazine Buy now action
NEXT_PUBLIC_STRIPE_PAYMENT_LINK=
